:root {
  --brown: #6b2504;
  --grey: #606060;
  --black: #000000;
  --black-grey: #101010;
  --dark-grey: #3a3a3a;
  --light-grey: #999999;
  --white: #ffffff;
}

.background-color-dark-gery {
  background-color: var(--dark-grey);
}
.background-color-black {
  background-color: var(--black);
}

body {
  background-color: var(--black-grey);
  color: var(--white);
}

.user-image {
  border-radius: 50px;
}

.hero-image {
  background-image: url("../../images/banner.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 300px;
  width: 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

input[type="text"] {
  background-color: var(--black);
  color: white;
  border: none;
}
input[type="text"]:focus {
  background-color: var(--black);
  color: white;
}
.input-group-text {
  background-color: var(--black);
  border: none;
}

textarea {
  background-color: var(--dark-grey) !important;
  color: white !important;
  border: none !important;
}
textarea:focus {
  background-color: var(--dark-grey) !important;
  color: white !important;
}

.signup-form input{
  background-color: var(--dark-grey);
  color: white;
  border: none;
}

.signup-form input:focus {
  background-color: var(--dark-grey);
  color: white;
}



.profile-form input{
  background-color: var(--dark-grey);
  color: white;
  border: none;
}

.profile-form input:focus {
  background-color: var(--dark-grey);
  color: white;
}

.profile-form select{
  background-color: var(--dark-grey);
  color: white;
  border: none;
}

.profile-form select:focus {
  background-color: var(--dark-grey);
  color: white;
}

.error {
  color: red !important;
 
}

.comment::-webkit-input-placeholder {
  color: red !important;
 
}

input:read-only {
  color: var(--black);
}

